@model IEnumerable<Курсова_робота.Models.Entities.UserEntity>


<h2>User management</h2>

<head>
    <link rel="stylesheet" href="~/css/userManagement.css" asp-append-version="true" />
</head>

<div class="cart-page-right">
    <div class="price-box">
        <div class="price-box-list">
            <table class="price-table">
                <thead class="table-center">
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>IsBanned</th>
                        @if (ViewBag.IsAdmin)
                        {
                            <th></th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.Id</td>
                            <td>@user.Username</td>
                            <td>@user.Email</td>
                            <td>
                                <!-- Форма для оновлення ролі -->
                                @if(ViewBag.IsAdmin)
                                {
                                <form asp-action="UpdateRole" asp-controller="UserManagement" method="post">
                                    <input type="hidden" name="userId" value="@user.Id" />
                                    <select name="roleId" class="role-dropdown">
                                        @foreach (var role in ViewBag.Roles as List<SelectListItem>)
                                        {
                                            <option value="@role.Value" selected="@(role.Value == user.IdRole.ToString())">
                                                @role.Text
                                            </option>
                                        }
                                     </select>
                                    <button type="submit" class="update-role-btn">Update</button>
                                    </form>
                                }
                                else
                                {
                                    @user.Role.Name
                                }
                            </td>
                            <td>
                                <form asp-action="ToggleBan" asp-controller="UserManagement" method="post" style="display:inline;">
                                    <input type="hidden" name="id" value="@user.Id" />
                                    <button type="submit" class="ban-user-btn">
                                        @(user.IsBanned ? "Unban" : "Ban")
                                    </button>
                                </form>
                            </td>
                            @if (ViewBag.IsAdmin)
                            {
                                <td>
                                    <form asp-action="Delete" asp-controller="UserManagement" method="post" style="display:inline;">
                                        <input type="hidden" name="id" value="@user.Id" />
                                        <button type="submit" class="ban-user-btn">
                                            Delete
                                        </button>
                                    </form>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
